# Table of Contents
 <p><div class="lev1 toc-item"><a href="#Python-Basics" data-toc-modified-id="Python-Basics-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Python Basics</a></div><div class="lev2 toc-item"><a href="#Imports" data-toc-modified-id="Imports-11"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Imports</a></div><div class="lev2 toc-item"><a href="#Datentypen-und-Variablen" data-toc-modified-id="Datentypen-und-Variablen-12"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Datentypen und Variablen</a></div><div class="lev2 toc-item"><a href="#List--und-Dict-Comprehensions" data-toc-modified-id="List--und-Dict-Comprehensions-13"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>List- und Dict-Comprehensions</a></div><div class="lev2 toc-item"><a href="#Benannte-Funktionen-und-anonyme-Lamda-Funktionen" data-toc-modified-id="Benannte-Funktionen-und-anonyme-Lamda-Funktionen-14"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>Benannte Funktionen und anonyme Lamda-Funktionen</a></div><div class="lev1 toc-item"><a href="#Klassen-und-Objekte" data-toc-modified-id="Klassen-und-Objekte-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Klassen und Objekte</a></div><div class="lev1 toc-item"><a href="#Distanz--und-Ähnlichkeits-Messung" data-toc-modified-id="Distanz--und-Ähnlichkeits-Messung-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Distanz- und Ähnlichkeits-Messung</a></div><div class="lev2 toc-item"><a href="#Euklidische-Distanz" data-toc-modified-id="Euklidische-Distanz-31"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Euklidische Distanz</a></div><div class="lev2 toc-item"><a href="#Vergleich-von-Personendatensätzen" data-toc-modified-id="Vergleich-von-Personendatensätzen-32"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Vergleich von Personendatensätzen</a></div><div class="lev2 toc-item"><a href="#Text-Comparison" data-toc-modified-id="Text-Comparison-33"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>Text Comparison</a></div><div class="lev2 toc-item"><a href="#Autoren-Ähnlichkeit-WIP" data-toc-modified-id="Autoren-Ähnlichkeit-WIP-34"><span class="toc-item-num">3.4&nbsp;&nbsp;</span>Autoren-Ähnlichkeit WIP</a></div><div class="lev1 toc-item"><a href="#Modules-&amp;-Packages" data-toc-modified-id="Modules-&amp;-Packages-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Modules &amp; Packages</a></div>

# Python Basics

## Imports

In [1]:
# Standard import of library
import math
import spacy

# Import with alias
import pandas as pd

## Datentypen und Variablen

Python ist eine schwach typisierte Sprache. Daher müssen die Datentypen von Variablen nicht explizit angegeben werden.

In [462]:
# String (iterable, immutable)
iAmAStringVariable = 'I am a string variable.'

# Integer (not iterable, immutable)
iAmAnInteger = 123

# Float (not iterable, immutable)
iAmAnFloat = 123.456

# List (iterable, mutable, mixed)
# Zugriff über den Offset-Index erfolgt über Eckige-Klammer-Notation 
iAmAList = [ 1, 2, 'string', 3.45, True ]
iAmAList[0] # -> 1
iAmAList[2] # -> 'string'

# Tuple (iterable, immutable, mixed)
# Tuple können Anzahl n Einträge haben; sie sind – anders als der Name vll. 
# suggeriert – nicht auf zwei Einträge beschränkt.
# Zugriff über den Offset-Index erfolgt über Eckige-Klammer-Notation 
iAmATuple = ('Key', 123)
iAmAQuintuple = ('Key', 123, True, 3.45, [])
iAmAQuintuple[2] # -> True

# Dictionary (iterable, mutable, mixed)
# Ein Dictionary ist eine Liste von Schlüssel-Wert-Paaren.
# Zugriff über den Schlüssel erfolgt über Eckige-Klammer-Notation
iAmADictionary = { 
                    "key_1": "value_2",
                    "key_2": 123,
                    "key_3": [ 1, 2, 3 ]
                }
iAmADictionary['key_3'] # -> [ 1, 2, 3 ]

# Bool (not iterable, immutable)
iAmABoolean = False

# Objects [class instances] (depends on implementation)
#iAmAnObject =

## List- und Dict-Comprehensions

List- und Dict-Comprehensions verarbeiten iterierbare Datentypen und geben eine Liste bzw. ein Dictionary zurück. Sie repräsentieren einen auf eine Zeile gezogenen For-Loop.

Sie werden häufig zum Säubern von Daten benutzt.

List-Comprehensions

In [463]:
# Einfache List-Comprehension:
# Merksatz: Transform( item ) for item in list.

listOfWords = [ 'cat', 'dog', 'monkey', 'horse', 'chicken']

[ len(item) for item in listOfWords ] # -> [ 3, 3, 6, 5, 7 ]

[3, 3, 6, 5, 7]

In [465]:
# Eine einfache If-Condition wird ans Ende der Expression gesetzt.

[ item for item in [1,2,3,4,5] if item %2 == 0 ]

[2, 4]

In [469]:
# Eine If-Else-Condition wird hingegen direkt hiner das erste Transformations-Element der Expression gesetzt.

[ print(item, 'hat einen Rest.') if item %2 != 0 else print(item, 'hat keinen Rest.') for item in [1,2,3,4,5]  ];

1 hat einen Rest.
2 hat keinen Rest.
3 hat einen Rest.
4 hat keinen Rest.
5 hat einen Rest.

In [471]:
# Wenn das Transformations-Element einer List-Comprehension wiederum selbst ein Iterable ist, 
# kann das Transformations-Element durch eine zweite, eingeschobene List-Comprehension ersetzt werden.
# Aus Gründen von Lesbarkeit und Verständnis sollten verschachtelte List-Comprehensions mit bedacht 
# eingesetzt und gegebenenfalls (zum Teil) durch eundeutigere For-Loops ersetzt werden.

[ [ str(i) for i in lst if i % 2 == 0 ]  for lst in [[1,2,3], [4,5,6], [7,8,9]] ]

[['2'], ['4', '6'], ['8']]

In [472]:
# Für Dict-Comprehensions gilt im Grunde das selbe wie für List-Comprehensions. Ausnamen sind, dass sie durch 
# geschweifte Klammern gerahmt werden und das Transformations-Element als Schlüssel-Wert-Paar aufgebaut sein muss.

{ str(i): 0 for i in [1,2,3,4,5] }

{'1': 0, '2': 0, '3': 0, '4': 0, '5': 0}

In [476]:
# Beispiele:
# Ein Dictionary kann bspw. mittels einer List-Comprehension in eine Liste von Tuplen verwandelt werden.

[ (i,j) for i,j in { "i": 1, "j": 2 }.items() ] # -> [ ( 'i', 1 ), ( 'j', 2 ) ]

[('i', 1), ('j', 2)]

In [477]:
# Permutation der Elemente einer Liste von Tupeln.

[ (j,i) for i,j in [ ( 'y', 'x' ), ( 'b', 'a' ) ] ] # -> [('x', 'y'), ('a', 'b')]

[('x', 'y'), ('a', 'b')]

## Benannte Funktionen und anonyme Lamda-Funktionen

Benannte Funktionen werden mit einem individuellen Namen initialisiert und stehen im weiteren unter diesem Namen zur Verfügung. Anonyme oder Lamda-Funktionen hingegen müssen, um persitent verfügbar zu sein, in eine Variable gespeichert werden, oder an Ort und Stelle als _instant function_ aufgerufen werden.

In [482]:
# Benannte Funktionen werden mit dem Schlüsselwort def eingeleitet, es folgt der Funktionsname und 
# in runden Klammern gegebenenfalls eine Liste von Parametern, welche beim Aufruf als Argumente 
# übergeben werden können.

def Hello():
    """I am a Hello func."""
    print('Hello!')
    return "Hello!"

Hello()

Hello!

'Hello!'

In [483]:
# Parameter können mit einem Default-Wert angegeben werden.

def Greet(greeting='Hello'):
    """I am a Greet func."""
    print(f'{greeting}!')
    return f'{greeting}!'

Greet()
Greet('Live long and prosper')

Hello!
Live long and prosper!

'Live long and prosper!'

In [484]:
# Eine anonyme oder Lambda-Funktion muss auf einer einzigen Zeile geschrieben werden – es sind also keine Loops- 
# oder mehrzeilige Konstrukte möglich. Eine Lambda-Funktion wird durch das Schlüsselwort lambda eingeleitet, es folgen
# die Parameter; ein Doppelpunkt trennt den folgenden Rückgabewert ab. Eine Lambda-Funktion besteht also nur aus
# Argumenten und einer Expression, die als Rückgabewert während der Rückgabe evaluiert wird. Damit die Funktion 
# mit einem Namen aufgerufen werden kann, muss sie in einer Variablen gespeichert werden.

func = lambda name: f'Hello, {name}!'
func('George')

'Hello, George!'

In [487]:
# Soll die Lambda-Funktion an Ort udn Stelle evaluiert werden, muss der Funktionskörper in runde Klammern 
# gepackt und mit direkt folgenden runden Klammern direkt mit Parametern aufgerufen werden.

( lambda name: f'Hello, {name}' )('Timmy')

'Hello, Timmy'

In [490]:
# Currying bedeutet, dass eine Funktion eine weitere, bereits teilweise mit Argumenten befüllte Funktion zurückgibt. 
# Auf diese Weise können Funktionen mit Default-Werten 'vorgeladen' werden. 

def Greet(phrase):
    return lambda name: print(f'{phrase}, {name}!')

Hello = Greet('Hello')
GoodMorning = Greet('Good Morning')
Bye = Greet('Bye')

Hello('George')
GoodMorning('George')
Bye('George')

Hello, George!
Good Morning, George!
Bye, George!

# Klassen und Objekte

Klassen sind Blaupausen die Entitäten der realen Welt schematisch und reduziert in Programmiersprachen abbilden. Klassen dienen dabei dazu Daten und Methoden, die diese Daten verarbeiten, zusammenfassen zu können. Will man eine Bibliothek modellierne, könnte jedes Buch als Klasse _Buch_ formalisiert werden. Die Klasse würde Attribute (Merkmale) wie _Buchtitel_, _ISBN_, _ausgeliehen_, u.a.m. enthalten. Methoden, also in der Klasse definierte Funktionen, könnten die Attribute ausgeben und/oder verändern, e.g. die Methode _Ausleihstatus_ würde einen String wie `f'Ausgeliehen: {self.ausgeliehen}.'` zurückgeben. 

Mehr zu OOP in Python, [hier](https://realpython.com/python3-object-oriented-programming/).

In [500]:

class Monkey:
    def __init__(self, name, color, favorite_foods):
        self.name = name
        self.color = color
        self.cuteness = 'Over 9000!'
        if type(favorite_foods) == list or type(favorite_foods) == tuple:
            self.favorite_foods = favorite_foods
        elif type(favorite_foods) == str:
            self.favorite_foods = [favorite_foods]
        else:
            print('Error: fav foods not set.')
            self.favorite_foods = []
        
    def __repr__(self):
        return f'Monkey {self.name}'

    def __str__(self):
        return f'I am a monkey names {self.name} and my favorte foods are {", ".join(self.favorite_foods)}.'

In [501]:
george = Monkey('George', 'red', ['Bananas', 'Pizza'])

In [502]:
george # Gives __repr__

Monkey George

In [503]:
print(george) # Gives __str__

I am a monkey names George and my favorte foods are Bananas, Pizza.

In [509]:
evelyn = Monkey('Evelyn', 'yellow', 'Pudding')
monkeys = [ george, evelyn ]
[ print(monkey) for monkey in monkeys ]

I am a monkey names George and my favorte foods are Bananas, Pizza.
I am a monkey names Evelyn and my favorte foods are Pudding.

[None, None]

In [507]:
print(monkeys)

[Monkey George, Monkey Evelyn]

# Distanz- und Ähnlichkeits-Messung

## Euklidische Distanz

d: Euklidische-Distanz-Funktion, nimmt zwei Vektoren mit n Dimensionen an. Aufgrund der Quadrierung ist es irrelevant von welchem Punkt aus die Distanz-Messung beginnt.

$d(p,q) = d(q,p) = \sqrt{\sum_{i=1}^n (q_i-p_i)^2}$

Hierbei gibt n die Anzahl der Dimensionen (columns) angibt, die einem Vektor (row) in der Matrix zukommen. Um die Distanz zweier Vektoren zu bestimmen, werden also die Werte der jeweiligen Dimensionen subtrahiert, das Ergebnis quadriert, um negative Zahlen als Ergebnis zu vermeiden, im Anschluss summiert und dann die Wurzel gezogen.

Sind die zwei drei-dimensionalen Vektoren p und q als 

p = [1,3,2]

q = [3,1,2]

gegeben, dann ist die eukldidische Distanz der Vektoren

$\sqrt{(1-3)^2 + (3-1)^2 + (2-2)^2} = \sqrt{(-2)^2 + (2)^2 + (0)^2} = \sqrt{4+4+0} = \sqrt{8} = 2.8284271247461903$

Durch die Quadrierung gehen große Differenzen stärker in die Abstandsberechnung ein als kleine.

In [535]:
# Euklidische Distanz als benannte Funktion

def euclidianDistance(p,q, silent=False):
    """Calculates eucledian distance between two n-dimensional vectors.
        The vectors are represented as list of integers or floats.
        Example:
            euclidianDistance([1, 2],[3,4])
            Distance is 2.8284271247461903."""
    squares = [ (p[i] - q[i])**2 for i in range(len(p)) ]
    summed_squares = sum(squares)
    distance = math.sqrt(summed_squares)
    if silent == False:
        print(f'Distance is {distance}.')
    return distance

euclidianDistance([1,1,1],[3,3,3])

Distance is 3.4641016151377544.

3.4641016151377544

In [511]:
# Euklidische Distanz als Lambda-Funktion

euklid = lambda p,q: math.sqrt(sum([ (p[i] - q[i])**2 for i in range(len(p)) ]))
euklid([1,1,1],[3,3,3])

3.4641016151377544

In [512]:
# Euklidische Distanz als instantan evaluierte Lambda-Funktion

(lambda p,q: math.sqrt(sum([ (p[i] - q[i])**2 for i in range(len(p)) ])))([1,1,1],[3,3,3])

3.4641016151377544

In [513]:
p = [1,3,2]
q = [3,1,2]
euklid(p,q)

2.8284271247461903

## Vergleich von Personendatensätzen

In [405]:
# Mit der Magic-Variable % können Shell-Befehle im Notebook ausgeführt werden.

%ls input/

people.csv       people_phys.csv  txt.txt

In [430]:
# Ein ? vor einer Funktion oder Methode ohn () gibt Informationen dazu zurück.
#?pandas.read_csv 

Personen = pandas.read_csv('./input/people.csv', # Pfad zur Datei
                           sep=';',              # Spalten-Trenner in der CSV 
                           decimal=",",          # Dezimalzeichen 
                           skip_blank_lines=True)# Leere Zeilen überspringen

Personen.head(10) # head gibt den Anfang des Dataframes aus, tail den Schluss

  person  height  skin  hair  gender  education  income  family
0     p1    1.55   0.1  0.90       0        0.4     0.7     0.2
1     p2    1.80   0.5  0.50       1        0.6     0.6     0.2
2     p3    1.65   0.2  0.30       0        0.2     0.2     0.6
3     p4    1.75   0.2  0.25       1        0.2     0.5     0.4
4     p5    1.55   0.1  0.90       1        0.4     0.5     0.6
5     p6    1.70   1.0  1.00       0        0.8     0.8     0.2
6     p7    1.55   0.1  0.90       1        0.4     0.7     0.3

In [518]:
# Auf eine oder mehrere Spalten wird in Eckiger-Klammer-Notation zugegriffen.
# Ist eine Spalte gewünscht wird ein String benutzt, sind mehrere Spalten gewünscht
# dann wird eine Liste von Strings erwartet. Zurückgegeben wird eine Series oder ein DataFrame.

Personen['person']

0    p1
1    p2
2    p3
3    p4
4    p5
5    p6
6    p7
Name: person, dtype: object

In [519]:
Personen[['person', 'gender']]

  person  gender
0     p1       0
1     p2       1
2     p3       0
3     p4       1
4     p5       1
5     p6       0
6     p7       1

In [521]:
# Auf eine Row wird mittels iloc-Methode und Index in eckigen Klammern zugegriffen.

Personen.iloc[4]

person         p5
height       1.55
skin          0.1
hair          0.9
gender          1
education     0.4
income        0.5
family        0.6
Name: 4, dtype: object

In [523]:
# Die Schnittmenge kann durch Eckige-Klammern-Notation weiter eingegrenzt werden, 
# bis auf die Ebene einer einzigen Zelle.

Personen.iloc[4]['height'] # == Personen.iloc[4].height

1.55

In [522]:
Personen['person'].iloc[2]

'p3'

In [524]:
# Auschluss von Spalten geschieht durch droppen der entsprechenden Columns in einer Kopie des DataFrames.

decimated_pers = Personen.drop(['person', 'gender'], axis=1)
decimated_pers

   height  skin  hair  education  income  family
0    1.55   0.1  0.90        0.4     0.7     0.2
1    1.80   0.5  0.50        0.6     0.6     0.2
2    1.65   0.2  0.30        0.2     0.2     0.6
3    1.75   0.2  0.25        0.2     0.5     0.4
4    1.55   0.1  0.90        0.4     0.5     0.6
5    1.70   1.0  1.00        0.8     0.8     0.2
6    1.55   0.1  0.90        0.4     0.7     0.3

In [526]:
personVector = lambda index:  [ float(i) for i in Personen[['education', 'family', 'income']].iloc[index].tolist() ]

In [527]:
euclidianDistance(personVector(0), personVector(6))

Distance is 0.09999999999999998.

0.09999999999999998

In [433]:
for index in Personen.index.tolist():
    print(Personen.iloc[index].person)
    for index2 in Personen.index.tolist():
        euclidianDistance(vector(index), vector(index2))

p1
Distance is 0.0.
Distance is 0.2236067977499789.
Distance is 0.6708203932499369.
Distance is 0.34641016151377546.
Distance is 0.44721359549995787.
Distance is 0.4123105625617661.
Distance is 0.09999999999999998.
p2
Distance is 0.2236067977499789.
Distance is 0.0.
Distance is 0.6928203230275508.
Distance is 0.45825756949558394.
Distance is 0.45825756949558394.
Distance is 0.2828427124746191.
Distance is 0.24494897427831774.
p3
Distance is 0.6708203932499369.
Distance is 0.6928203230275508.
Distance is 0.0.
Distance is 0.3605551275463989.
Distance is 0.36055512754639896.
Distance is 0.938083151964686.
Distance is 0.6164414002968976.
p4
Distance is 0.34641016151377546.
Distance is 0.45825756949558394.
Distance is 0.3605551275463989.
Distance is 0.0.
Distance is 0.282842712474619.
Distance is 0.7000000000000001.
Distance is 0.3.
p5
Distance is 0.44721359549995787.
Distance is 0.45825756949558394.
Distance is 0.36055512754639896.
Distance is 0.282842712474619.
Distance is 0.0.
Distance is 0.6403124237432849.
Distance is 0.3605551275463989.
p6
Distance is 0.4123105625617661.
Distance is 0.2828427124746191.
Distance is 0.938083151964686.
Distance is 0.7000000000000001.
Distance is 0.6403124237432849.
Distance is 0.0.
Distance is 0.42426406871192857.
p7
Distance is 0.09999999999999998.
Distance is 0.24494897427831774.
Distance is 0.6164414002968976.
Distance is 0.3.
Distance is 0.3605551275463989.
Distance is 0.42426406871192857.
Distance is 0.0.

In [529]:
# DataFrames können mittels diverser Methoden wieder in Dateien geschrieben werden.

decimated_pers.to_csv('./output/deciated.csv',
                     sep=';',
                     quotechar='"',
                     quoting=1,
                     index=False)

## Text Comparison

In [216]:
txt_0 = "I am a really cute dog. I like jumping."
txt_1 = "I am a really nice cat. I like to cuddle."
txt_2 = "I am a really cute dog. I liked to jump."
txt_3 = "You are a really cute cat. You like to cuddle."
txt_4 = "You were a really nice dog and you liked cuddling."
txt_5 = "You are a really nice cat. You like to cuddle."

In [132]:
nlp = spacy.load('en')

In [220]:
docs = list(nlp.pipe([txt_0, txt_1, txt_2, txt_3, txt_4, txt_5]))

In [221]:
def buildBagOfWords(docs):
    global_lemmata = []
    [[ global_lemmata.append(token.lemma_) if token.lemma_ != '-PRON-' else global_lemmata.append(token.orth_) for token in doc ] for doc in docs ];

    bagOfWords = { lemma: [] for lemma in list(set(global_lemmata)) }
    lemmatized_texts = [[ token.lemma_ if token.lemma_ != '-PRON-' else token.orth_ for token in doc ] for doc in docs ]
    
    for lemma in list(set(global_lemmata)):
        for text in lemmatized_texts:
            bagOfWords[lemma].append(text.count(lemma))
    return bagOfWords

In [222]:
words = buildBagOfWords(docs)

In [224]:
texts_df = pandas.DataFrame.from_dict(words)
texts_df.head(10)

,cuddle,jump,I,nice,a,you,really,cute,like,cat,.,You,be,and,to,dog
0,0,1,2,0,1,0,1,1,1,0,2,0,1,0,0,1
1,1,0,2,1,1,0,1,0,1,1,2,0,1,0,1,0
2,0,1,2,0,1,0,1,1,1,0,2,0,1,0,1,1
3,1,0,0,0,1,0,1,1,1,1,2,2,1,0,1,0
4,1,0,0,1,1,1,1,0,1,0,1,1,1,1,0,1
5,1,0,0,1,1,0,1,0,1,1,2,2,1,0,1,0

In [541]:
vector = lambda index, df: df.iloc[index].tolist()

In [540]:
euclidianDistance(vector(0, texts_df), vector(2, texts_df))

Distance is 1.0.

1.0

In [537]:
def buildCrossMatrix(texts_df,silent=True):
    crossMatrix = { str(i): [] for  i in texts_df.index.tolist() }
    for i in texts_df.index.tolist():
        for z in texts_df.index.tolist():
            distance = euclidianDistance(vector(i, texts_df), vector(z, texts_df), silent)
            crossMatrix[str(i)].append(distance)
    cross_df = pandas.DataFrame.from_dict(crossMatrix)
    cross_df.head()
    return cross_df

In [538]:
buildCrossMatrix(texts_df)

          0         1         2         3         4         5
0  0.000000  2.645751  1.000000  3.605551  3.464102  3.872983
1  2.645751  0.000000  2.449490  3.162278  3.316625  2.828427
2  1.000000  2.449490  0.000000  3.464102  3.605551  3.741657
3  3.605551  3.162278  3.464102  0.000000  3.000000  1.414214
4  3.464102  3.316625  3.605551  3.000000  0.000000  2.645751
5  3.872983  2.828427  3.741657  1.414214  2.645751  0.000000

In [539]:
buildCrossMatrix(PersonenDatensatz[['height', 'skin', 'hair', 'education', 'income', 'family']])

          0         1         2         3         4         5         6
0  0.000000  0.657647  0.911043  0.769740  0.447214  1.006231  0.100000
1  0.657647  0.000000  0.795299  0.604152  0.769740  0.768115  0.665207
2  0.911043  0.795299  0.000000  0.377492  0.714143  1.418626  0.871780
3  0.769740  0.604152  0.377492  0.000000  0.743303  1.301922  0.750000
4  0.447214  0.769740  0.714143  0.743303  0.000000  1.119151  0.360555
5  1.006231  0.768115  1.418626  1.301922  1.119151  0.000000  1.011187
6  0.100000  0.665207  0.871780  0.750000  0.360555  1.011187  0.000000

## Autoren-Ähnlichkeit WIP

In [238]:
word_length =  { str(i): 0 for i in range(1, max([ max([ len(token.lemma_) if token.lemma_ != '-PRON-' else len(token.orth_) for token in doc ]) for doc in docs ])+1)}
word_length

{'1': 0, '2': 0, '3': 0, '4': 0, '5': 0, '6': 0}

In [241]:
for token in docs[0]:
    if token.lemma_ != '-PRON-':
                 word_length[str(len(token.lemma_))] += 1
    else:
        word_length[str(len(token.orth_))] += 1
word_length

{'1': 5, '2': 1, '3': 1, '4': 3, '5': 0, '6': 1}

# Modules & Packages

In [5]:
import sys
import importlib

# Die Package-Ordner, e.g. distance, liegen im Ordner 'modules'. 
# Die Python-Code-Datei 'distances.py' liegt im Ordner 'distance'.
# sys.path.append(r'./modules/')
# print(sys.path)

In [6]:
# Aus dem Ordner 'distance' importiere die Datei 'distances'.
from modules.distance import distances

In [7]:
importlib.reload(distances)
distance = distances.Distance()

In [8]:
distance.euclidianDistance([1, 2],[3,4])

Distance is 2.8284271247461903.

2.8284271247461903

In [9]:
distance.helloWorld()

Hello, World!

In [10]:
?distance.euclidianDistance